body{
    font: 20px Arial, sans-serif;
}

.navbar{
    background-color: #0f8a23;
    }

.quem-somos{
    background-color:rgb(192, 219, 228);
    color: white;
}

.margin{
    padding-bottom: 20px;
    padding-top: 15px;
}

.parceiros{
    background-color: azure;
}

.bg-footer{
    background-color: black;
    color: white;
    font-size: 15px;
}